@{
    Layout = "_DashBoard"; 
 }

@model IEnumerable<KpiNew.Dto.DepartmentDto>

}


<div class="card-header" style="background-color:lightgreen;">
    <div class="card-title">
        <h1 class="text-center"> Department</h1>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

        
           

            <th>
                Update
            </th>
            <th>
                Details
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => department.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => department.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => department.Description)
                </td>
         


                <td>
                    <a asp-action="Update" asp-route-id="@department.Id">Update</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@department.Id">Details</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@department.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<button style="background-color:darkorange;"><a asp-controller="Department" asp-action="Home"> Back To HomePage </a> </button>
